body{
    font-size: 12px;
}

.createForm{
    margin-top: 50px;
    background-color: #454545;
    width: 800px;
    height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 3%;
    padding: 10px;
}
.renterContainer{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 650px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;

}
.carContainer{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 700px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

label{
    color: #999999;
    align-self: flex-start;
    margin-top: 7px;
}
input{
    width: 70%;
    height: 25px;
    background-color: transparent;
    border-bottom: solid #9a9a9a;
    border-right: none;
    border-left: none;
    border-top: none;
    color: white;
}
input:focus{
    outline: none;
    border-bottom: solid #9a9a9a;
    border-right: none;
    border-left: none;
    border-top: none;
}
select{
    width: 70%;
    border-bottom: solid #9a9a9a;
    border-right: none;
    border-left: none;
    border-top: none;
    background-color: transparent;
    color: white;
}

select:focus{
    outline: none;
    border-bottom: solid #9a9a9a;
    border-right: none;
    border-left: none;
    border-top: none;
}
option{
    color: black;
}
button{
    margin-top: 30px;
    margin-left: 50px;
}
h3{
    font-size: 20px;
    color: white;
}
