body{
    font-size: 12px;
}

p{
    color: white;
}
button{
    margin-top: 1px;
    margin-left: 1px;
}
.saveButton {
    margin-bottom: 0 ;
    margin-left: 35px;
    margin-top: 20px;
}
.deleteButton{
    margin-bottom: 0;
    margin-left: 35px;
    margin-top: 20px;
}
