.saveButton{
    margin-bottom: 0;
}
p{
    color: white;
}
.button-container {
    display: flex;
    gap: 10px; /* Lægger lidt afstand mellem knapperne */
    justify-content: flex-start; /* Hvis du ønsker knapperne venstrejusteret */
}