body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, white, rgba(71, 178, 225, 0.29));
    font-family: Montserrat, Arial, serif;
}

.saveButton {
    margin-bottom: 30px;
    background-color: transparent;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    border: solid #47b2e1;
    color: #47b2e1;
    font-weight: bold;
    transition: background-color 0.2s, color 0.2s;
}

.saveButton:hover{
    background-color: #47b2e1;
    color: white;
    cursor: pointer;
}

.deleteButton {
    margin-bottom: 30px;
    background-color: transparent;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    border: solid #e15347;
    color: #e15347;
    font-weight: bold;
    transition: background-color 0.2s, color 0.2s;
}

.deleteButton:hover{
    background-color: #e15347;
    color: white;
    cursor: pointer;
}


.NavBar{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    border-bottom: 2px solid #454545;
}
.NavBarLink{
    text-decoration: none;
    font-size: 25px;
    color: #47b2e1;
}