<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create car and car model</title>
    <link rel="stylesheet" href="/CreateCar.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<div class="NavBar">
    <a class="NavBarLink" href="#">
        <img src="/images/logo.png">
    </a>
    <a class="NavBarLink" href="#">KPI</a>
    <a class="NavBarLink" href="#">Skadesrapport</a>
    <a class="NavBarLink" href="/DataRegister">Dataregistrering</a>
</div>

<div class="createDivLeft">
    <form action="/CreateCarAndCarModel" method="post" class="createForm">
        <h2>Ny bil</h2>
        <!-- Dette er for den enkelte bil -->
        <label>License plate</label>
        <input type="text" name="license_plate"  required>
        <label>Choose model</label>
        <select name="car_model_name" required>
            <option value="" hidden selected></option>
            <option th:each="car_model : ${car_models}" th:value="${car_model.car_model_name}" th:text="${car_model.make} + ' ' + ${car_model.car_model_name}"></option>
        </select>
        <label>Stel nummer</label>
<!--        Et stel nummer er 17 cifrer, skal ændres til en string i hele systemet-->
        <input type="text" name="vin_number" required>
        <label>Indkøbsprisen</label>
        <input type="number" name="original_price" required>
        <label>Registrerings afgift (Månedlig)</label>
        <input type="number" name="registration_tax_pr_month" required>
        <label>Bilens status</label>
        <select name="car_status" required>
            <option value="" hidden selected></option>
            <option value="available">Klar</option>
            <option value="rentet">Udlejet</option>
            <option value="returned">Returneret</option>
            <option value="under_repair">Under reperation</option>
        </select>
        <label>Kørte km.</label>
        <input type="number" name="odometer"  required>
        <label>Er bilen solgt på forhånd?</label>
        <select name="is_pre_sold" required>
            <option value="" hidden selected></option>
            <option value="true">Solgt</option>
            <option value="false">Ikke solgt</option>
        </select>
        <label>Salgspris (Kan undlades)</label>
<!--        Skal kunnes nulles-->
        <input type="number" name="sale_price">
        <label>Produktionsår</label>
        <input type="number" name="year_of_manufactoring" required>
        <label>Farve</label>
        <input type="text" name="color" required>

        <button class="saveButton" type="submit">Gem</button>
    </form>
</div>

<div class="createDivRight">
    <form action="CreateNewCarModel" method="post" class="createForm">
        <!-- Dette er for modellen -->
        <h2>Ny model</h2>
        <label>Vælg mærke</label>
        <select name="make" required>
            <option value="" hidden selected></option>
            <option value="Tesla">Tesla</option>
            <option value="Volkswagen">VW</option>
            <option value="Peugot">Peugot</option>
            <option value="Toyota">Toyota</option>
            <option value="Renault">Renault</option>
            <option value="Hyundai">Hyundai</option>
            <option value="Kia">Kia</option>
            <option value="Skoda">Skoda</option>
            <option value="Ford">Ford</option>
            <option value="Mercedes">Mercedes</option>
            <option value="Mercedes_Benz">Merces-benz</option>
            <option value="Bmw">BMW</option>
            <option value="Audi">Audi</option>
            <option value="Volvo">Volvo</option>
            <option value="Mazda">Mazda</option>
            <option value="Nissan">Nissan</option>
            <option value="Polestar">polestar</option>
            <option value="Fiat">Fiat</option>
        </select>
        <label>Model navn</label>
        <input type="text" name="car_model_name" required>
        <label>Den månedlige udlejningspris</label>
        <input type="number" name="price_a_month"  step="0.01" required>
        <label>Karrosseri</label>
        <select name="body_type" required>
            <option value="" hidden selected></option>
            <option value="Hatchback">hatchback</option>
            <option value="SUV">SUV</option>
            <option value="Sedan">Sedan</option>
            <option value="Smart">Smart</option>
            <option value="Carbriolet">Cabriolet</option>
            <option value="Station_wagon">Stationcar</option>
            <option value="Coupe">Coupé</option>
            <option value="Crossover">Crossover</option>
            <option value="Minivan">minivan</option>
            <option value="Roadster">roadster</option>
            <option value="Pickup">Pickup</option>
        </select>
        <label>Motor størrelse (Liter) (Undlad ved elbil)</label>
        <input type="number" name="engine_size" step="0.01" value="0">
        <label>Gearkasse</label>
        <select name="gear_type" required>
            <option value="" hidden selected></option>
            <option value="manual">Manuel</option>
            <option value="automatic">Automat</option>
            <option value="electric_gear">Enkelt gearkasse (Elektriske biler)</option>
<!--            Skal måske slettes? elbil er automatgear-->
        </select>
        <label>Brændstof</label>
        <select name="fuel_type" required>
            <option value="" hidden selected></option>
            <option value="petrol">Benzin</option>
            <option value="diesel">Diesel</option>
            <option value="electricity">El</option>
            <option value="hybrid">Hybrid</option>
        </select>
        <label>Antal sæder</label>
        <input type="number" name="seat_count" required>
        <label>Antal døre</label>
        <input type="number" name="door_count" required>
        <label>Hestekræfter</label>
        <input type="number" name="horsepower" required>

        <button class="saveButton" type="submit">Gem</button>
    </form>

</div>

</body>
</html>