<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create car and car model</title>
    <link rel="stylesheet" href="/CreateCar.css">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>

<div class="NavBar">
        <img src="/images/logo.png" alt="OptiMadeFleet logo">
    <a class="NavBarLink" href="/KPI">KPI</a>
    <a class="NavBarLink" href="/DamageReportPage">Skadesrapport</a>
    <a class="NavBarLinkChosen" href="/DataRegister">Dataregistrering</a>
    <a class="NavBarLink" href="/logout">Log ud</a>
</div>

<div class="createDivLeft">
    <form action="/CreateCarAndCarModel" method="post" class="createForm">
        <h2>Ny bil</h2>
        <!-- Dette er for den enkelte bil -->
        <label>Nummerplade</label>
        <input type="text" name="license_plate" pattern="^[a-zA-Z]{2}\d{5}$"
               title="Skal have 2 bogstaver efterfulgt af 5 tal (AB12345)" required>

        <label>Vælg model</label>
        <select name="car_model_name" required>
            <option value="" hidden selected></option>
            <option th:each="car_model : ${car_models}" th:value="${car_model.car_model_name}"
                    th:text="${car_model.make} + ' ' + ${car_model.car_model_name}"></option>
        </select>
        <label>Stel nummer (17 cifre)</label>
        <input type="text" name="vin_number" pattern="^\d{17}$" title="Skal være 17 tal" required>
        <label>Indkøbsprisen</label>
        <input type="number" name="original_price" max="2147483647" title="Må maximalt være 10 cifre" required>
        <input name="car_status" value="available" hidden>
        <label>Kørte km.</label>
        <input type="number" name="odometer" max="2147483647" title="Må maximalt være 10 cifre" required>
        <input name="is_pre_sold" value="false" hidden>
        <label>Produktionsår</label>
        <input type="number" name="year_of_manufactoring" min="1886" max="9999" title="Skal være 4 cifret (YYYY)"
               required>
        <label>Farve</label>
        <input type="text" name="color" pattern="^[a-z A-Z æøå ÆØÅ]+$" title="Må kun være bogstaver (Sort)" required>

        <button class="saveButton" type="submit">Gem</button>
    </form>
</div>

<div class="createDivRight">
    <form action="CreateNewCarModel" method="post" class="createForm">
        <!-- Dette er for modellen -->
        <h2>Ny model</h2>
        <label>Vælg mærke</label>
        <select name="make" required>
            <option value="" hidden selected></option>
            <option value="Tesla">Tesla</option>
            <option value="Volkswagen">VW</option>
            <option value="Peugot">Peugot</option>
            <option value="Toyota">Toyota</option>
            <option value="Renault">Renault</option>
            <option value="Hyundai">Hyundai</option>
            <option value="Kia">Kia</option>
            <option value="Skoda">Skoda</option>
            <option value="Ford">Ford</option>
            <option value="Mercedes">Mercedes</option>
            <option value="Mercedes_Benz">Merces-benz</option>
            <option value="Bmw">BMW</option>
            <option value="Audi">Audi</option>
            <option value="Volvo">Volvo</option>
            <option value="Mazda">Mazda</option>
            <option value="Nissan">Nissan</option>
            <option value="Polestar">polestar</option>
            <option value="Fiat">Fiat</option>
        </select>
        <label>Model navn</label>
        <input type="text" name="car_model_name" required>

        <!--        <label>Den månedlige udlejningspris</label>-->
        <!--        <input type="number" name="price_a_month" max="99999999" title="Må maximalt være 10 cifre" step="0.01" required>-->

        <label>Karrosseri</label>
        <select name="body_type" required>
            <option value="" hidden selected></option>
            <option value="Hatchback">hatchback</option>
            <option value="SUV">SUV</option>
            <option value="Sedan">Sedan</option>
            <option value="Smart">Smart</option>
            <option value="Carbriolet">Cabriolet</option>
            <option value="Station_wagon">Stationcar</option>
            <option value="Coupe">Coupé</option>
            <option value="Crossover">Crossover</option>
            <option value="Minivan">minivan</option>
            <option value="Roadster">roadster</option>
            <option value="Pickup">Pickup</option>
        </select>
        <label>Motor størrelse (Liter) (Undlad ved elbil)</label>
        <input type="number" name="engine_size" max="9.9" step="0.1" value="0.0">
        <label>Gearkasse</label>
        <select name="gear_type" required>
            <option value="" hidden selected></option>
            <option value="manual">Manuel</option>
            <option value="automatic">Automat</option>
        </select>
        <label>Brændstof</label>
        <select name="fuel_type" required>
            <option value="" hidden selected></option>
            <option value="petrol">Benzin</option>
            <option value="diesel">Diesel</option>
            <option value="electricity">El</option>
            <option value="hybrid">Hybrid</option>
        </select>
        <label>Antal sæder</label>
        <div style="display: flex; flex-direction: row; justify-content: space-evenly; width: 80%">
            <input type="radio" id="twoSeats" name="seat_count" value="2" required>
            <label style="margin-left: 5px; margin-right: 20px" for="twoSeats">2</label>
            <input type="radio" id="fourSeats" name="seat_count" value="4" required>
            <label style="margin-left: 5px; margin-right: 20px; " for="fourSeats">4</label>
            <input type="radio" id="fiveSeats" name="seat_count" value="5" required>
            <label style="margin-left: 5px; margin-right: 20px" for="fiveSeats">5</label>
            <input type="radio" id="eightSeats" name="seat_count" value="8" required>
            <label style="margin-left: 5px; margin-right: 20px" for="eightSeats">8</label>
        </div>
        <label>Antal døre</label>
        <div style="display: flex; flex-direction: row; justify-content: space-evenly; width: 80%">
            <input type="radio" id="threeDoors" name="door_count" value="3" required>
            <label style="margin-left: 5px; margin-right: 20px" for="threeDoors">3</label>
            <input type="radio" id="fourDoors" name="door_count" value="4" required>
            <label style="margin-left: 5px; margin-right: 20px" for="fourDoors">4</label>
            <input type="radio" id="fiveDoors" name="door_count" value="5" required>
            <label style="margin-left: 5px; margin-right: 20px" for="fiveDoors">5</label>
            <input type="radio" id="sevenDoors" name="door_count" value="7" required>
            <label style="margin-left: 5px; margin-right: 20px" for="sevenDoors">7</label>
        </div>
        <label>Hestekræfter</label>
        <input type="number" name="horsepower" max="2147483647" title="Må maximalt være 10 cifre" required>
        <button class="saveButton" type="submit">Gem</button>
    </form>

</div>

</body>
</html>