<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret forhåndsaftale</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/CreatePreSaleContract.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>

<div class="NavBar">
    <img src="/images/logo.png" alt="OptiMadeFleet logo">
    <a class="NavBarLink" href="/KPI">KPI</a>
    <a class="NavBarLink" href="/DamageReportPage">Skadesrapport</a>
    <a class="NavBarLinkChosen" href="/DataRegister">Dataregistrering</a>
    <a class="NavBarLink" href="/logout">Log ud</a>
</div>

<form action="/CreatePreSaleContract" method="post" class="createForm">
    <h2>Opret Forhåndsaftale</h2>
    <div class="outerContainer">
        <div class="innerContainer">
            <label for="companyName">Virksomhedsnavn: </label>
            <input type="text" id="companyName" name="company_name" required>

            <label for="cvr">CVR: </label>
            <input type="number" id="cvr" name="cvr" min="10000000" max="99999999" required>

            <label for="phoneNumber">Telefonnummer: </label>
            <input type="text" id="phoneNumber" name="company_phonenumber" pattern="^[0-9]{8}$" maxlength="8" required>

            <label for="email">Email: </label>
            <input type="email" id="email" name="email" required>

            <label for="zipCode">Postnummer: </label>
            <input type="number" id="zipCode" name="zip_code" max="9990" min="1000" required>

            <label for="streetName">Adresse: </label>
            <input type="text" id="streetName" name="street_name" required>
        </div>

        <div class="innerContainer">
            <label for="streetNumber">Nr: </label>
            <input type="number" id="streetNumber" name="street_number" max="999" min="1" required>

            <label for="cityName">By: </label>
            <input type="text" id="cityName" name="city_name" required>

            <label for="licensePlate">Nummerplade: </label>
            <select id="licensePlate" name="license_plate" required>
                <option th:each="car : ${cars}"
                        th:value="${car.getLicense_plate}"
                        th:text="${car.carModel.getMake()} + ' ' + ${car.carModel.getCar_model_name()} + ' - ' + ${car.getLicense_plate()}">
                </option>
            </select>

            <label for="deliveryLocation">Leveringssted: </label>
            <input type="text" id="deliveryLocation" name="delivery_location" required>

            <label for="damage_price">Pris: </label>
            <input type="number" id="damage_price" name="price" min="0" max="2147483647" required>

            <label for="maxKm">Max kørte km: </label>
            <input type="number" id="maxKm" name="max_km" min="0" max="2147483647" required>
        </div>
    </div>
    <div class="buttonContainer">
        <button class="saveButton" type="submit">Opret</button>
    </div>
</form>

</body>
</html>
