<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Damage report page</title>
    <link rel="stylesheet" href="/damageReportPage.css">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="NavBar">
    <a class="NavBarLink" href="#">
        <img  src="/images/logo.png">
    </a>
    <a class="NavBarLink" href="/KPI">KPI</a>
    <a class="NavBarLinkChosen" href="/DamageReportPage">Skadesrapport</a>
    <a class="NavBarLink" href="/DataRegister">Dataregistrering</a>
    <a class="NavBarLink" href="/logout">Log ud</a>
</div>

<div class="outerContainer">
    <div class="innerContainer">
        <div class="headerLeftContainer">
            <div class="headerLeftDiv">
                <h3>Biler</h3>
                <form action="/DamageReportPage" method="get">
                    <select class="selectSortDropdown" name="sortBy" onchange="this.form.submit()">
                        <option value="returned" th:selected="${sortBy == 'returned'}">Returneret</option>
                        <option value="ready_for_invoice" th:selected="${sortBy == 'ready_for_invoice'}">Klar til
                            fakturering
                        </option>
                    </select>
                </form>
            </div>
        </div>
        <div class="leftSide">
            <a th:href="@{/DamageReportPagePost/{licensePlate}/{sortBy}(licensePlate=${car.license_plate}, sortBy=${sortBy})}"
               th:each="car : ${carsList}" class="carElement">
                <div>
                    <span th:text="${car.license_plate}"></span>
                    <span th:text="${car.carModel.make}"></span>
                    <span th:text="${car.car_model_name}"></span>
                    <span th:text="${car.year_of_manufactoring}"></span>
                    <span th:text="${car.color}"></span>
                </div>
                <span>Status: <span class="highlightedText" th:text="${car.getCar_statusString()}"></span></span>
                <span th:text="${car.isIs_pre_soldString()}"></span>
                <span>md. udlejningspris:  <span class="highlightedText"
                                                 th:text="${utilityService.roundNumber(car.calculateMonthlyPrice())}"> </span><span> kr.</span></span>
            </a>
        </div>
    </div>
    <div class="innerContainer">
        <div class="headerLeftContainer" style="margin-right: 200px">
            <div class="headerLeftDiv">
                <h3>Skaderapportering</h3>
            </div>
        </div>
        <div class="rightSide">
            <!--            Dette er "Returneret" skaderapportering-->
            <div th:if="${carToGetDamageReport != null}" class="rightSideDiv">
                <div th:if="${carToGetDamageReport.car_status == 'returned'}" style="height: 95%;">
                    <div class="carElementJustForShow" style="width: 95%">
                        <span th:text="${carToGetDamageReport.license_plate}"></span>
                        <span th:text="${carToGetDamageReport.carModel.make}"></span>
                        <span th:text="${carToGetDamageReport.car_model_name}"></span>
                        <span th:text="${carToGetDamageReport.year_of_manufactoring}"></span>
                        <span th:text="${carToGetDamageReport.color}"></span>
                    </div>
                    <form action="/saveDamageReport" method="post"
                          style="display: flex; flex-direction: column; justify-content: space-evenly; height: 100%; width: 100%">
                        <input hidden="hidden" type="text" name="license_plate"
                               th:value="${carToGetDamageReport.license_plate}">
                        <div class="damageReportDiv">
                            <div>
                                <label>Skade</label>
                                <input type="text" name="damage1">
                            </div>
                            <div>
                                <label>Pris</label>
                                <input type="text" name="price1" value="0">
                            </div>
                        </div>
                        <div class="damageReportDiv">
                            <div>
                                <label>Skade</label>
                                <input type="text" name="damage2">
                            </div>
                            <div>
                                <label>Pris</label>
                                <input type="text" name="price2" value="0">
                            </div>
                        </div>
                        <div class="damageReportDiv">
                            <div>
                                <label>Skade</label>
                                <input type="text" name="damage3">
                            </div>
                            <div>
                                <label>Pris</label>
                                <input type="text" name="price3" value="0">
                            </div>
                        </div>
                        <div class="damageReportDiv">
                            <div>
                                <label>Skade</label>
                                <input type="text" name="damage4">
                            </div>
                            <div>
                                <label>Pris</label>
                                <input type="text" name="price4" value="0">
                            </div>
                        </div>
                        <div class="damageReportDiv">
                            <div>
                                <label>Skade</label>
                                <input type="text" name="damage5">
                            </div>
                            <div>
                                <label>Pris</label>
                                <input type="text" name="price5" value="0">
                            </div>
                        </div>
                        <div class="damageReportDiv">
                            <div>
                                <label>Overkørte km.</label>
                                <input type="number" name="mileage_over_limit" value="0" max="2147483647"
                                       title="Må maximalt være 10 cifre">
                            </div>
                            <div>
                                <button class="saveButton" style="margin-top: 20px;">Gem</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--                Dette er "klar til fakturering" skadesrapportering-->
                <div th:if="${carToGetDamageReport.car_status == 'ready_for_invoice'}" style="height: 95%">
                    <div class="carElementJustForShow" style="display: flex; width: 95%; justify-content: space-evenly">
                        <span th:text="${carToGetDamageReport.license_plate}"></span>
                        <span th:text="${carToGetDamageReport.carModel.make}"></span>
                        <span th:text="${carToGetDamageReport.car_model_name}"></span>
                        <span th:text="${carToGetDamageReport.year_of_manufactoring}"></span>
                        <span th:text="${carToGetDamageReport.color}"></span>
                    </div>
                    <form action="/deleteDamageReport" method="post"
                          style="display: flex; flex-direction: column; justify-content: space-evenly; height: 100%; width: 100%">
                        <input hidden="hidden" type="text" name="license_plate"
                               th:value="${carToGetDamageReport.license_plate}">

                        <div class="damageReportDivReadyForInvoice">
                            <div th:each="element : ${listOfDamages}" style="display: flex; flex-direction: column">
                                <div style="margin-top: 9%">
                                    <label>Skade</label>
                                    <label style="margin-left: 35%">Pris</label>
                                </div>
                                <div>
                                    <input type="text" th:value="${element.getKey()}" readonly>
                                    <input type="text" th:value="${utilityService.roundNumber(element.getValue())} + ' kr.'" readonly>
                                </div>
                            </div>
                            <div th:if="${mileage_over_limit_price != 0}" style="margin-top: 9%">
                                <label>Overkørt km.</label>
                                <label style="margin-left: 21%">Pris</label>
                            </div>
                            <div th:if="${mileage_over_limit_price != 0}">
                                <input type="number" th:value="${damageReport.mileage_over_limit}" readonly>
                                <input type="text"
                                       th:value="${(mileage_over_limit_price)} + ' kr.'"
                                       readonly>
                            </div>
                            <div style="margin-top: 9%">
                                <label>Samlet pris</label>
                            </div>
                            <div style="display: flex; flex-direction: row">
                                <input type="text"
                                       th:value="${(utilityService.roundNumber(sumOfDamages + mileage_over_limit_price))} + ' kr.'"
                                       readonly>
                                <div>
                                    <button class="deleteButton" style="margin-left:3%;">Slet</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

</body>
</html>