<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/DataRegister.css">
</head>
<body>
<div class="outerContainer">
    <div class="innerContainer">
        <div class="leftSide">

        </div>

    </div>

    <div class="innerContainer">
        <div class="rightSide">
            <div class="RentContractElement">
                <h5 th:each="rentContract : ${rentContracts}" th:text="${rentContract.getRenter_first_name()}"></h5>
            </div>
        </div>
        <div class="rightSide">

        </div>

    </div>


</div>

</body>
</html>