<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit car</title>
  <link rel="stylesheet" href="/EditCar.css">
  <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>

<div class="NavBar">
  <a class="NavBarLink" href="#">
    <img src="/images/logo.png">
  </a>
  <a class="NavBarLink" href="/KPI">KPI</a>
  <a class="NavBarLink" href="/DamageReportPage">Skadesrapport</a>
  <a class="NavBarLinkChosen" href="/DataRegister">Dataregistrering</a>
    <a class="NavBarLink" href="/logout">Log ud</a>
</div>

<div class="createDiv">
  <form action="/UpdateCar" method="post" class="createForm">
    <h2>Bil</h2>
    <!-- Dette er for den enkelte bil -->
    <label>License plate</label>
    <input type="text" name="license_plate" th:value="${car.license_plate}" pattern="^[a-zA-Z]{2}\d{5}$"
           title="Skal have 2 bogstaver efterfulgt af 5 tal (AB12345)" required>
    <label>Choose model</label>
    <select name="car_model_name" required>
      <option value="" hidden selected>Select model</option>
      <option th:each="car_model : ${car_models}" th:value="${car_model.car_model_name}" th:text="${car_model.make} + ' ' + ${car_model.car_model_name}" th:selected="${car_model.car_model_name == car.car_model_name}"></option>
    </select>
    <label>Stel nummer</label>
    <input type="text" name="vin_number" th:value="${car.vin_number}" pattern="^\d{17}$" title="Skal være 17 tal" required>
    <label>Indkøbsprisen</label>
    <input type="number" name="original_price" th:value="${car.original_price}" max="2147483647" required>
    <label>Registrerings afgift</label>
    <input type="number" name="registration_tax" th:value="${car.registration_tax}" max="2147483647" readonly>
      <label>Fuld pris</label>
      <input type="number" name="full_price" th:value="${car.registration_tax} + ${car.original_price}" max="2147483647" readonly>
    <label>Bilens status</label>
    <select name="car_status" required>
<!--      Husk at ret så der ikke står typen i klassen men faktisk hvad der skal stå. f.eks. "klar"-->
      <option value="available" th:selected="${car.getCar_status() == 'available'}">Klar</option>
      <option value="rentet" th:selected="${car.getCar_status() == 'rentet'}">Udlejet</option>
      <option value="returned" th:selected="${car.getCar_status() == 'returned'}">Returneret</option>
      <option value="ready_for_invoice" th:selected="${car.getCar_status() == 'ready_for_invoice'}">Klar til fakturering</option>
    </select>
    <label>Kørte km.</label>
    <input type="number" name="odometer" th:value="${car.odometer}" max="2147483647" required>
    <label>Er bilen solgt på forhånd?</label>
    <select name="is_pre_sold" required>
      <option value="true" th:selected="${car.is_pre_sold} == true">Solgt</option>
      <option value="false" th:selected="${car.is_pre_sold == false}">Ikke solgt</option>
    </select>
    <label>Salgspris (Kan undlades)</label>
    <!--        Skal kunnes nulles-->
    <input type="number" name="sale_price" th:value="${car.sale_price}">
    <label>Produktionsår</label>
    <input type="number" name="year_of_manufactoring" th:value="${car.year_of_manufactoring}" min="1886" max="9999" title="Skal være 4 cifret (YYYY)" required>
    <label>Farve</label>
    <input type="text" name="color" th:value="${car.color}" pattern="^[a-z A-Z æøå ÆØÅ]+$" title="Må kun være bogstaver (Sort)" required>

    <button class="saveButton" type="submit" style="margin-left: 220px;">Gem ændringer</button>
  </form>

  <div class="createForm">
    <!-- Dette er for modellen -->
    <h2>Model</h2>
    <label>Mærke</label>
    <p th:text="${car.carModel.getMake()}"></p>
    <label>Model</label>
    <p th:text="${car.carModel.car_model_name}"></p>
    <label>Karrosseri</label>
    <p th:text="${car.carModel.body_type}"></p>
    <label>Motor størrelse (Liter) (Undlad ved elbil)</label>
    <p th:text="${car.carModel.engine_size}"></p>
    <label>Gearkasse</label>
    <p th:text="${car.carModel.gear_type}"></p>
    <label>Brændstof</label>
    <p th:text="${car.carModel.fuel_type}"></p>
    <label>Antal sæder</label>
    <p th:text="${car.carModel.seat_count}"></p>
    <label>Antal døre</label>
    <p th:text="${car.carModel.door_count}"></p>
    <label>Hestekræfter</label>
    <p th:text="${car.carModel.horsepower}"></p>

    <form th:action="@{/DeleteCarFromDB/{license_plate}(license_plate = ${car.license_plate})}" method="post" onsubmit="return confirmDeletion()">
        <button class="deleteButton" type="submit" style="margin-right: 220px;" >Slet bil</button>
    </form>
  </div>

</div>

<script>
    function confirmDeletion()  {
        return confirm ("Er du sikker på at du vil slette denne bil?")
    }
</script>

</body>
</html>