<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leje kontrakt</title>
    <link rel="stylesheet" href="/RentContract.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/ShowRentContract.css">


</head>
<body>
<div class="NavBar">
    <a class="NavBarLink" href="#">
        <img src="/images/logo.png">
    </a>
    <a class="NavBarLink" href="#">KPI</a>
    <a class="NavBarLink" href="/DamageReportPage">Skadesrapport</a>
    <a class="NavBarLink" href="/DataRegister">Dataregistrering</a>
</div>
<form class="createForm" method="post">

    <div class="renterContainer">
        <h3>Kundeinformation</h3>

        <label for="renterFirstName">Fornavn</label>
        <input id="renterFirstName" type="text" name="renter_first_name" required
               th:value="${rentContract.getRenter_first_name()}">

        <label for="renterLastName">Efternavn</label>
        <input id="renterLastName" type="text" name="renter_last_name" required
               th:value="${rentContract.getRenter_last_name()}">

        <label for="streetName">Addresse</label>
        <input id="streetName" type="text" name="street_name" required
               th:value="${rentContract.getStreet_name()}">

        <label for="streetNumber">Gadenummer</label>
        <input id="streetNumber" type="number" name="street_number" max="999" min="1" required
               th:value="${rentContract.getStreet_number()}">


        <label for="zipCode">Postnummer</label>
        <input id="zipCode" type="number" name="zip_code" max="9990" min="1000" required
               th:value="${rentContract.getZip_code()}">


        <label for="cityName">By</label>
        <input id="cityName" type="text" name="city_name" required
               th:value="${rentContract.getCity_name()}">


        <label for="renterPhoneNumber">Telefonnummer</label>
        <input id="renterPhoneNumber" type="text" name="renter_phonenumber" pattern="^[0-9]{8}$" maxlength="8" required
               th:value="${rentContract.getRenter_phonenumber()}">

        <label for="email">Email</label>
        <input id="email" type="email" name="email" required
               th:value="${rentContract.getEmail()}">


        <label for="dateOfBirth">Fødselsdato</label>
        <input id="dateOfBirth" type="date" name="date_of_birth" required
               th:value="${rentContract.getDate_of_birth()}">

        <label for="driversLicenseNumber">Kørekortnummer</label>
        <input id="driversLicenseNumber" type="number" name="drivers_license_number" min="10000000" max="99999999" required
               th:value="${rentContract.getDrivers_license_number()}">
    </div>

    <div class="carContainer">
        <h3>Bilinformation</h3>

        <label for="licensePlate">Bil</label>
        <p id="licensePlate" th:text="${rentContract.getLicense_plate()}"></p>
        <input name="license_plate" th:value="${rentContract.getLicense_plate()}" hidden>

        <label for="maxKm">Maks kilometer</label>
        <input id="maxKm" type="number" name="max_km" min="0" max="2147483647" required
               th:value="${rentContract.getMax_km()}">

        <h3>Kontraktinformation</h3>
        <label for="rentContractType">Abonnomentstype</label>
        <select id="rentContractType" name="rent_contract_type">
            <option value="" hidden selected></option>
            <option value="unlimited" th:Selected="${rentContract.getRent_contract_type() == 'unlimited'}" >Unlimited</option>
            <option value="limited" th:Selected="${rentContract.getRent_contract_type() == 'limited'}">Limited</option>
        </select>

        <label for="rentalStartDate">Start dato</label>
        <input id="rentalStartDate" type="date" name="rental_start_date" min="2000-01-01" max="2300-12-31" required
               th:value="${rentContract.getRental_start_date()}">

        <label for="rentalEndDate">Slut dato</label>
        <input id="rentalEndDate" type="date" name="rental_end_date" min="2000-01-01" max="2300-12-31" required
               th:value="${rentContract.getRental_end_date()}">

        <label for="pickupLocation">Afhentningssted</label>
        <input id="pickupLocation" type="text" name="pickup_location" required
               th:value="${rentContract.getPickup_location()}">

        <label for="returnLocation">Afleveringssted</label>
        <input id="returnLocation" type="text" name="return_location" required
               th:value="${rentContract.getReturn_location()}">

        <button class="saveButton" type="submit" formaction="/updateRentContract">Opdater</button>
        <button class="deleteButton" type="submit" th:formaction="@{/deleteRentContract/{licensePlate}(licensePlate=${rentContract.license_plate})}"
            onclick="confirmDelete()">Slet</button>

    </div>


</form>


<script>
    function confirmDelete() {
        return confirm("Er du sikker på, at du vil slette denne lejekontrakt?");
    }
</script>

</body>
</html>

