<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>

<form action="/login" method="post" class="loginForm">
    <img class="loginImg" src="/images/logoMedHvid.png">
    <label for="userName" class="loginLabel">BRUGERNAVN</label>
    <input type="text" id="userName" name="username" class="loginInput">

    <label for="password" class="loginLabel">ADGANGSKODE</label>
    <input type="password" id="password" name="password" class="loginInput">

    <div th:if="${failedLogin}" style="color: #d30000;">
        <p th:text="${failedLogin}"></p>
    </div>

    <button type="submit" class="loginButton">LOGIN</button>

</form>

</body>
</html>