<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leje kontrakt</title>
</head>
<body>
<div class="rentContractDetails">
    <h1>Rent Contract Details</h1>

    <div>
        <strong>Renter's Name:</strong>
        <span th:text="${rentContract.renter_first_name}">First Name</span>
        <span th:text="${rentContract.renter_last_name}">Last Name</span>
    </div>

    <div>
        <strong>Phone Number:</strong>
        <span th:text="${rentContract.renter_phonenumber}">Phone Number</span>
    </div>

    <div>
        <strong>Email:</strong>
        <span th:text="${rentContract.email}">Email</span>
    </div>

    <div>
        <strong>Date of Birth:</strong>
        <span th:text="${rentContract.getDate_of_birth()}">Date of Birth</span>
    </div>

    <div>
        <strong>Address:</strong>
        <span th:text="${rentContract.street_name}">Street Name</span>
        <span th:text="${rentContract.street_number}">Street Number</span>,
        <span th:text="${rentContract.city_name}">City Name</span>
        <span th:text="${rentContract.zip_code}">Zip Code</span>
    </div>

    <div>
        <strong>Driver's License Number:</strong>
        <span th:text="${rentContract.drivers_license_number}">Driver's License Number</span>
    </div>

    <div>
        <strong>License Plate:</strong>
        <span th:text="${rentContract.license_plate}">License Plate</span>
    </div>

    <div>
        <strong>Maximum Kilometers:</strong>
        <span th:text="${rentContract.max_km}">Max Kilometers</span>
    </div>

    <div>
        <strong>Rental Start Date:</strong>
        <span th:text="${rentContract.getRental_start_date()}">Rental Start Date</span>
    </div>

    <div>
        <strong>Rental End Date:</strong>
        <span th:text="${rentContract.getRental_end_date()}">Rental End Date</span>
    </div>

    <div>
        <strong>Pickup Location:</strong>
        <span th:text="${rentContract.pickup_location}">Pickup Location</span>
    </div>

    <div>
        <strong>Return Location:</strong>
        <span th:text="${rentContract.return_location}">Return Location</span>
    </div>

    <div>
        <a href="/DataRegister">Back to all contracts</a>
    </div>
</div>

</body>
</html>